<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.lisah.openfluid"
            name="OpenFLUID">
      </category>
      <wizard
            name="Builder extension project"
            icon="icons/openfluid-eclipse.png"
            category="org.lisah.openfluid"
            class="org.lisah.openfluid.newbuilderext.wizards.NewBuilderextWizard"
            id="org.lisah.openfluid.newbuilderext.wizards.SampleNewWizard">
      </wizard>
   </extension>

</plugin>
